<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>

    <div class="navbar">
        <div class="container">
            <div class="navbar-meny">
                <ul>
                    <li><a href="#" class="navbar-in">Главная</a></li>
                    <li><a href="#">Наши проекты</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="toggle-navbar">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            <div class="navbar-head">

                <p>Передовая IT студия</p>
                <h1>Мы создаем легкие решения <br>
                    сложных задач и проблем</h1>
                <div class="navbar-btn">
                    <button>Наши проекты</button>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container">
            <div class="header-content">
                <h1 class="header-h1">Мы создаем мобильные приложения <br>
                    для крупных корпораций</h1>
                <p class="header-p">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
                    <br>
                    Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                </p>
                <div class="header-flex">
                    <div class="herader-f">
                        <div class="header-flex-n1">
                            <img src="./img/project.png" alt="">
                        </div>
                        <div class="herader-con">
                            <h1>Создание сайтов</h1>
                            <p>
                                Lorem Ipsum - это текст- " <br> рыба", часто используе в <br> печати и вэб-дизайне.
                            </p>
                        </div>
                    </div>
                    <div class="herader-f">
                        <div class="header-flex-n1">
                            <img src="./img/project.png" alt="">
                        </div>
                        <div class="herader-con">
                            <h1>Создание сайтов</h1>
                            <p>
                                Lorem Ipsum - это текст- " <br> рыба", часто используе в <br> печати и вэб-дизайне.
                            </p>
                        </div>
                    </div>
                    <div class="herader-f">
                        <div class="header-flex-n1">
                            <img src="./img/project.png" alt="">
                        </div>
                        <div class="herader-con">
                            <h1>Создание сайтов</h1>
                            <p>
                                Lorem Ipsum - это текст- " <br> рыба", часто используе в <br> печати и вэб-дизайне.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="head-btn">
                    <button class="header-btn">Все услуги</button>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="container">
            <div class="content-content">
                <div class="content-left">
                    <h1>Высокие стандарты <br>
                        разработки</h1>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в <br>печати и вэб-дизайне. Lorem Ipsum
                        является
                        стандартной <br> "рыбой" для текстов на латинице с начала XVI века. <br> стандартной "рыбой" для
                        текстов
                        на латинице с начала <br> XVI века. </p>
                    <a href="#">Подробнее о компании</a>
                </div>
                <div class="content-right">
                    <img src="./img/Rectangle 2.png" alt="">
                </div>
            </div>
            <div class="content-body">
                <div class="content-body-n1">
                    <div class="contentcha">
                        <img src="./img/web-programming.png" alt="">
                        <h1>125</h1>
                    </div>
                    <p> Our projects</p>
                </div>
                <div class="content-body-n1">
                    <div class="contentcha">
                        <img src="./img/web-programming.png" alt="">
                        <h1>125</h1>
                    </div>
                    <p> Our projects</p>
                </div>
                <div class="content-body-n1">
                    <div class="contentcha">
                        <img src="./img/web-programming.png" alt="">
                        <h1>125</h1>
                    </div>
                    <p> Our projects</p>
                </div>
                <div class="content-body-n1">
                    <div class="contentcha">
                        <img src="./img/web-programming.png" alt="">
                        <h1>125</h1>
                    </div>
                    <p> Our projects</p>
                </div>
            </div>
        </div>
    </div>


    <div class="creat">
        <div class="container">
            <div class="creat-content">
                <h1>Наши проекты</h1>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem <br> Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                <div class="creat-flex">
                    <img src="./img/div.png" alt="">
                    <img src="./img/div.png" alt="">
                    <img src="./img/div.png" alt="">
                    <img src="./img/div.png" alt="">
                </div>
                <div class="creat-btn">
                    <button>Все проекты</button>
                </div>
            </div>
        </div>
    </div>
    <div class="youare">
        <div class="container">
            <div class="youare-content">
                <h1>Видео о нашей работе</h1>
                <p>Просто посмотрите, как мы работаем</p>
                <div class="youare-img">
                    <div class="border-youare">
                        <img src="./img/play-button.png" alt="">
                        <p>Смотреть видео</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="search">
    <div class="container">
        <div class="search-content">
            <h1>Подпишитесь на нашу рассылку</h1>
            <p>Полезные статьи, акции, новости - получите все это сейчас!</p>
          <div class="search-flex">
            <div class="input-radius">
                <input type="text" placeholder="Ваш e-mail">
                <button>Подписаться</button>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="local">
    <div class="container">
        <div class="local-content">
          <div class="local-flex">
            <ul>
                <li class="active">Контактная информация</li>
                <li><img src="./img/pochta.png" alt="">test@test.ru</li>
                <li><img src="./img/number.png" alt="">+8 777 555 66 99</li>
                <li><img src="./img/geo.png" alt="">Москва, Бульвар Ленина 33</li>
            </ul>
            <ul>
                <li class="active">Основные ссылки</li>
                <li><img src="./img/chiziq.png" alt="">Главная</li>
                <li><img src="./img/chiziq.png" alt="">Наши проекты</li>
                <li><img src="./img/chiziq.png" alt="">Наши услуги</li>
                <li><img src="./img/chiziq.png" alt="">Контакты </li>
            </ul>
            <ul>
                <li class="active">Наши проекты</li>
                <li><img src="./img/chiziq.png" alt="">РосНано</li>
                <li><img src="./img/chiziq.png" alt="">Сколково</li>
                <li><img src="./img/chiziq.png" alt="">Проект “Восток”</li>
                <li><img src="./img/chiziq.png" alt="">ТЭЦ Калининграда</li>
            </ul>
            <ul>
                <li class="active">Социальные сети</li>
                <li><img src="./img/chiziq.png" alt="">VK.com</li>
                <li><img src="./img/chiziq.png" alt="">Instagram</li>
                <li><img src="./img/chiziq.png" alt="">Facebook</li>
                <li><img src="./img/chiziq.png" alt="">Twitter</li>
            </ul>
          </div>
        </div>
    </div>
</div>
</body>

</html>